body { 
  background: url("assets/img/homepage.jpg") no-repeat; 
  background-size: 100%;
}

h1{
	color: black;
	font-family: "Open Sans", Lato, Helvetica;
	font-style: bold;
	font-variant: small-caps;
	font-size: 500%
	text-align: center;
}

h6{
	font-family: Lato, Helvetica;
	font-size: 300%
	text-align: center;
	background: black;
	color: white;
}
