body { 
	background: url("assets/img/homepage.jpg") no-repeat; 
	background-size: 100%;
}

h1{
	color: black;
	font-family: "Open Sans", Lato, Helvetica;
	font-variant: small-caps;
	font-size: 80pt;
	text-align: right;
	
}

h6{
	font-family: Lato, Helvetica;
	font-size: 50pt;
	text-align: justify;
	background: black;
	color: white;
}
