/*body { 
	background: url("assets/img/homepage.jpg") no-repeat; 
	background-size: 100%;
}*/
<head>
	<style>

		h1{
			color: white;
			font-family: "Open Sans", Lato, Helvetica;
			font-variant: small-caps;
			font-size: 200%;
			text-align: center;
		}

		h6{
			font-family: Lato, Helvetica;
			font-size: 80%;
			text-align: justify;
			background: #5B5C63;
			color: white;
		}

		p{
			font-family: Helvetica;
			font-size: 100%;
			text-align: left;
			color: #5B5C63;
		}

	</style>
</head>
